.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

h1 {
    color: aliceblue;

}

.navbar_list {
    list-style-type: none;
    display: flex;
    gap: 2REM;
}

.navbar_item {
    color: aliceblue;
    padding: 5px 20px;
    border: 1px solid white;
    cursor: pointer;
}

.navbar_item:hover {
    box-shadow: 5px 5px 5px red;
}

