.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #121826;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

h1 {
    color: #E5E7EB;
    font-family: "Atkinson Hyperlegible Next", serif;
}

.navbar_list {
    list-style-type: none;
    display: flex;
    gap: 2REM;
    
}

.navbar_item{
    color: #E5E7EB;
    padding: 5px 20px;
    border: 1px solid white;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Atkinson Hyperlegible Next", serif;
}

/* .navbar_item:hover {
    box-shadow: 5px 5px 5px red;
} */

